a {
  transition: color .4s ease-out, background .2s ease-in;
  color: #337ab7; }
  a:hover {
    color: #084b85;
    transition: color .4s ease-out, background .2s ease-in; }

.img-thumbnail {
  color: #e6e6e6; }

.nav-pills > li {
  float: left; }

.nav-pills > li > a {
  border-radius: 4px; }

.nav-pills > li + li {
  margin-left: 2px; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #337ab7;
  background-color: black;
  transition: color .4s ease-out, background .2s ease-in; }

.nav-pills > li.active > a:hover {
  transition: color .4s ease-out, background .2s ease-in;
  background-color: transparent; }

.dropdown-menu li a {
  transition: color .4s ease-out, background .2s ease-in; }

.top-post em {
  font-size: 14px;
  color: #337ab7; }

.top-post p {
  font-size: 14px;
  color: #888888;
  font-style: normal; }

.top-post .top-post-title {
  font-size: 36px;
  color: #337ab7;
  text-align: center;
  transition: color .4s ease-out, background .2s ease-in; }
  @media all and (max-width: 970px) {
    .top-post .top-post-title {
      text-align: center;
      padding-left: 0; } }
  .top-post .top-post-title:hover {
    color: #084b85; }

.top-post .top-post-img {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media all and (max-width: 970px) {
    .top-post .top-post-img {
      margin-top: 10px; } }

.top-post .top-post-tags {
  padding-left: 5px; }

.top-post .top-post-textarea {
  text-align: justify; }

.preview-list {
  padding-top: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #282828; }
  .preview-list .preview-element {
    font-size: 12px;
    width: 150px;
    height: 205px;
    margin: 2px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (max-width: 1170px) {
      .preview-list .preview-element {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
    .preview-list .preview-element img:hover {
      opacity: 0.6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      filter: alpha(opacity=60); }
    .preview-list .preview-element a {
      text-align: center; }
      .preview-list .preview-element a em {
        text-align: center; }

.img-preview {
  width: 150px;
  height: 150px;
  text-align: center; }

.navbar-container {
  width: 80%; }

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: #060606;
    border-bottom: 1px solid #f2f2f2;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.social-buttons {
  font-size: 24px;
  text-align: right;
  margin-top: -46px; }
  .social-buttons a:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80); }

.regular-post-title a {
  font-size: 24px; }

.regular-post-img {
  width: 300px;
  height: 300px; }

.regular-post-author {
  color: #337ab7;
  font-size: 12px; }

.regular-post-tags {
  color: #337ab7;
  font-size: 12px;
  padding-left: 5px; }

.sidebar-posts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.sidebar-image {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .sidebar-image img {
    width: 80%;
    height: 80%; }

.tag-odd {
  color: #337ab7; }

.tag-even {
  color: #084b85; }

.main-post em {
  font-size: 12px; }

.main-post .main-post-img {
  padding-top: 5px; }

.main-post .main-post-text {
  font-size: 14px; }
  .main-post .main-post-text .main-post-title {
    font-size: 32px; }

.main-video {
  padding-top: 60px; }

/*# sourceMappingURL=styles.css.map */
