.files-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 400px;
    p {
        font-size: 16px;
        padding: 4px;
        a {
            &:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        }
    }
}
