.files-container {
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 400px;
    border-bottom: 1px grey solid;
    p {
        font-size: 16px;
        padding: 4px;
        a {
            &:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        }
    }
}

#post-form-preview {
    margin-top: 50px;
    margin-bottom: 30px;
}

.thick-line {
    margin: 40px;
    border-bottom: solid 3px white;
}

.backend-item {
    min-height: 50px;
    border-bottom: solid 1px #9933cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backend-page {
    padding-top: 60px;
}
