.bands-container {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    @media all and (max-width: 1130px) {
      padding-top: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
        font-size: 14px;
        flex: 1;
    }

    .band-container {
        border-bottom: 1.5px $text solid;
        padding-bottom: 15px;
        padding-top:15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media all and (max-width: 1130px) {
            padding-top:15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .band-title {
        font-size: 16px;
    }
}
