.bands-container {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    @media all and (max-width: 1130px) {
      padding-top: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
        font-size: 12px;
        flex: 1;
    }

    .band-container {
        border-bottom: 1.5px $text solid;
        padding-bottom: 1px;
        padding-top:1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        li {
            padding-top: 1px;
            padding-bottom: 1px;
            p {
                margin: 0 auto;
            }
        }
        @media all and (max-width: 1130px) {
            padding-top:1px;
            padding-bottom: 1px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .band-title {
        font-size: 12px;
    }
}
