.bands-container {
    padding-top: 100px;
    padding-bottom: 5px;
    @media all and (max-width: 1130px) {
      padding-top: 140px;
    }
    li {
        font-size: 12px;
        flex: 1;
    }
}

.band-title {
    font-size: 14px;
}

.band-container {
    height: 60px;
    @media all and (max-width: 1130px) {

    }
}

.band-search-conteiner {
    display:  flex;
    flex-direction: row;
    justify-content: center;

}
