//COMMON

html {
  font-family: 'Open Sans' !important;
}

body {
  margin: 0 auto;
  max-width: 100%;
}

blockquote {
    padding:10px 20px;
    margin:0 0 20px;
    font-size:10px;
    border-left:5px solid #337ab7;
    text-align: justify;
}

a {
    @include default-hover;
    color: #337ab7;
    &:hover {
      color: #084b85;
      @include default-hover;
    }
}

.img-thumbnail {
    color: darken(white, 10%);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    @include default-hover;
 }

 .hidden-container {
     display: none;
 }
