.monthly-review-container {

}


.review-title {
    font-size: 20px;
}

.review-items {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    font-size: 12px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
