.monthly-review-container {
    border-bottom: white 3px solid;
    margin-bottom: 15px;
}

.review-presenter-container {
}

.review-container {
}

.review-post {
    padding: 10px;
}

.review-title {
    font-size: 20px;
}

.main-review-title {
    font-size: 24px;
}

.review-title-strong {
    font-size: 28px;
}

.review-img-align {
    @media all and (max-width: 970px) {
      text-align: left;
    }

    text-align: right;
}

.review-items {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    font-size: 14px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
