.newsfeed-container {
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    img {
        width: 200px;
        height: 200px;
    }
}

.newsfeed-item-container {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    padding: 10px;
    a {
        text-align: center;
    }
}
