//PREVIEW LIST
.img-preview {
  width: 150px;
  height: 150px;
  text-align: center;
}
.preview-panel {
    min-height: 250px;
}
.preview-element {
  font-size: 12px;
  margin: 2px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1170px) {
    align-items: center;
  }

  img {
    &:hover {
      @include Opacity(0.6);
    }
  }
  a {
    text-align: center;
    em {
      text-align: center;
    }
  }
}
