@mixin default-hover {
  -o-transition:color .4s ease-out, background .2s ease-in;
    -ms-transition:color .4s ease-out, background .2s ease-in;
    -moz-transition:color .4s ease-out, background .2s ease-in;
    -webkit-transition:color .4s ease-out, background .2s ease-in;
    transition:color .4s ease-out, background .2s ease-in;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

$blue: #337ab7;
$dark-blue: #084b85;
$black: #060606;

body {
  margin: 0 auto;
  max-width: 100%;
}

.navbar {
  position: absolute;
}

a {
    @include default-hover;
    color: #337ab7;
    &:hover {
      color: #084b85;
      @include default-hover;
    }
}

.img-thumbnail {
    color: darken(white, 10%);
}

.login-panel {
  padding-top: 60px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    @include default-hover;
 }

// TOP POST
.nav-pills > li {
    float: left;
}
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    border-radius: 4px;
    background-color: $black;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #337ab7;
    background-color: $black;
    @include default-hover;
}

.nav-pills > li.active > a:hover {
    @include default-hover;
    background-color: transparent;
}

.top-post {
    em {
    font-size: 14px;
    color: #337ab7;
  }

  p {
    font-size: 14px;
    color: #888888;
    font-style: normal;
  }

  .top-post-desc {
    display: flex;
    justify-content: space-around;
    .top-post-title {
      @media all and (max-width: 970px) {
        text-align: center;
        padding-left: 0;
      }
      font-size: 36px;
      color: #337ab7;
      text-align: center;
      @include default-hover;
      &:hover {
        color: #084b85;
      }
    }

    .top-post-author {
      height: 51px;
      font-size: 16px;
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }
  }

  .author-avatar {
    height: 51px;
    width: 51px;
    border-radius: 50%;
  }

  .top-post-img {
    @media all and (max-width: 970px) {
      margin-top: 10px;
    }
    justify-content: center;
  }

  .top-post-tags {
    padding-left: 5px;
  }

  .top-post-textarea {
    text-align: justify;
  }
}

.preview-list {
    padding-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid #282828;

    .preview-element {
      font-size: 12px;
      width: 150px;
      height: 205px;
      margin: 2px;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 1170px) {
        align-items: center;
      }

      img {
        &:hover {
          @include Opacity(0.6);
        }
      }
      a {
        text-align: center;
        em {
          text-align: center;
        }
      }
    }
}

.img-preview {
  width: 150px;
  height: 150px;
  text-align: center;
}

.navbar-container {
  width:90%;
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: #060606;
    border-bottom: 1px solid #f2f2f2;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


//REGULAR POST

.social-buttons {
  font-size: 24px;
  text-align: right;
  margin-top: -46px;
  a {
    &:hover {
      @include Opacity(0.8);
    }
  }
}

.regular-post-title {
  a {
    font-size: 24px;
    padding-left: 75px;
  }
}

.regular-post-padding {
  padding-top: 60px;
}

.regular-post-img {
  width: 300px;
  height: 300px;
}

.regular-post-date {
  color: #337ab7;
  font-size: 12px;
}

.regular-post-tags {
  color: #337ab7;
  font-size: 12px;
  padding-left: 5px;
}

.more-link {
  &:hover {
    text-decoration:none;
  }
}

//SIDEBAR
.sidebar-posts {
  display: flex;
  justify-content: flex-start;
}

.sidebar-tagline {
  @media all and (max-width: 970px) {
    text-align:center;
  }
  text-align: center;
}

.sidebar-image {
  display: flex;
  justify-content: space-around;

  img {
    width: 80%;
    height: 80%;
    max-width: 210px;
    max-height: 210px;
  }
}

.main-img {
  @include rounded(50%);
}

.tag-odd {
  color: $blue;
}

.tag-even {
  color: $dark-blue;
}

//MAIN POST

.main-post {

  em {
      font-size: 12px;
  }

  .main-post-img {
    padding-top: 5px;
  }

  .main-post-text {
    font-size: 14px;

    .main-post-title {
      font-size: 32px;
    }
  }
}

//RELATED POSTS

.related-posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .related-post-item {
    width: 260px;
    height: 260px;

    .related-post-img {
      width: 235px;
      height: 235px;
    }

    .related-post-title {
      text-align: center;
      font-size: 18px;
    }
  }
}

//VIDEOS

.main-video {
  padding-top: 60px;
}

.video-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-title {
  font-size: 32px;
  color: $blue;
}

.video-date {
  color: #337ab7;
  font-size: 12px;
}

//FOOTER

.footer-column-title {
  @media all and (max-width: 970px) {
    text-align: left;
  }
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
    i {
      font-size: 14px;
    }
}

.footer-column {
  @media all and (max-width: 970px) {
    text-align: left;
  }
  text-align:left;
  font-size: 12px;
  li {
    padding-top: 5px;
  }
  a {

    &:hover {
      text-decoration:none;
    }
  }
}

.footer-social-links {
  font-size: 24px;
  color: $blue;
  padding-left: 10px;
}

.footer-copyright {
  font-size: 12px;
  padding-left: 40px;
  line-height: 1;
  p {
    line-height: 1;
  }
}

//PAGES

.pages-title {
    font-size: 28px;
    color: $blue;
    h2 {
      border-bottom: 1px solid;
      padding-left: 100px;
      @media all and (max-width: 970px) {
        text-align: center;
        padding-left: 0px;
      }
    }

}

.pages-content {
  font-size: 16px;
}

.pages-container {
  padding-top: 60px;
}
