.tagline {
  padding-bottom: 0px;

  margin-bottom: 0px;
  padding-bottom: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include default-hover;
  a {
    color: #blue;
    font-size: 12px;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
