// TOP POST
.nav-pills > li {
    float: left;
}
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    border-radius: 4px;
    background-color: $black;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #337ab7;
    background-color: $black;
    @include default-hover;
}

.nav-pills > li.active > a:hover {
    @include default-hover;
    background-color: transparent;
}

.video-pane {
  margin: 100px auto;
  width: 90%;
  max-width: 1024px;

}

.top-post {
    em {
    font-size: 14px;
    color: #337ab7;
  }

  p {
    font-size: 14px;
    color: #888888;
    font-style: normal;
  }

  .top-post-desc {
    display: flex;
    justify-content: space-around;
    .top-post-title {
      @media all and (max-width: 970px) {
        text-align: center;
        padding-left: 0;
      }
      font-size: 36px;
      color: #337ab7;
      text-align: center;
      @include default-hover;
      &:hover {
        color: #084b85;
      }
    }

    .top-post-author {
      height: 51px;
      font-size: 16px;
      color: $blue;
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }
  }

  .author-avatar {
    height: 51px;
    width: 51px;
    border-radius: 50%;
  }

  .top-post-img {
    @media all and (max-width: 970px) {
      margin-top: 10px;
    }
    justify-content: center;
  }

  .top-post-tags {
    padding-left: 5px;
    font-size: 13.5px;
  }

  .top-post-textarea {
    text-align: justify;
  }
}

.top-post-links {
  font-size: 36px;
}

.top-post-filters {
    font-size: 10.5px;
}
