<p>Июль в 2016-ом году запомнится для каждого по-своему, одним - сверхвысокой температурой, другим - накалом страстей предвыборной президентской гонки в США, большинству - серией кровавых терактов по всему миру. Кто-то запомнит как бесцельно провел еще один месяц лета, кто-то - как съездил в великолепный отпуск. И при всем при этом, хочется надеяться, все они не забудут о множестве отличных альбомов. К сожалению, не для всех нашлось время на свой собственный обзор, ну а некоторые просто немного не дотянули до такого уровня. Но все же они заслуживают хотя бы парочку хвалебных слов в свой адрес. Именно для таких целей и будет служить новая рубрика, что-то в стиле "10 альбомов которые Вы должны были оценить".</p>

<p>Поехали.</p>

<p>Альбомы расположены без какой-либо систематизации. Все они в той или иной степени хороши.</p>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/ironwitchaharroweddawn.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://ironwitch.bandcamp.com/">Iron Witch - 2016 - A Harrowed Dawn</a></p>
<p>Дебютный альбом банды из Ливерпуля, при этом они уже довольно известны на сладжевой сцене. Не удивительно, качающий сладж/дум с психоделичным привкусом в наше время с легкостью найдет своего слушателя.</p>
</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/monoliths-monoliths.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://monoliths-monoliths.bandcamp.com/">Monoliths - 2016 - Monoliths</a></p>
<p>Еще одни ребятки дебютанты, еще один сладж, и опять из Англии (провало там что ли?), только на теперь из Ноттингема. Альбом длительностью всего в 33 минуты, но и этим группе есть, что сказать. Монолитный, как и положено из названия, сладж/дум, с акцентом на последнем копмоненте. Больше всего напомнили <a href="http://bongripper.bandcamp.com/">Bongripper</a>. Потенциал есть! </p>
</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/numenorean-hope.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="https://numenorean.bandcamp.com/">Numenorean - 2016 - Hope</a></p>
<p>Будущие звезды! По крайней мере так многие считают, в том числе и <a href="http://www.season-of-mist.com/">Seasons Of Mist</p>. Красиво, атмосферно, немного по-хипстерски, ну да чего уж там, блэк он такой.</p></div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/make-pilgrimage-of-loathing.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://monoliths-monoliths.bandcamp.com/">MAKE - 2016 - Pilgrimage Of Loathing</a></p>
<p>Очень хороший психоделик пост-металодум и чутка того самого сладжа. Жужжит то что надо, да тут надо делать полноценный обзор, они это заслужили.</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/spurn-comfort-in-nothing.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://monoliths-monoliths.bandcamp.com/">Spurn - 2016 - Comfort In Nothing</a></p>
<p>Хаотичные ребята, на стыках нескольких классов, с преобладанием металлизированного грайндкора. Что-то есть от старых-добрых <a href="http://www.facebook.com/DiscordanceAxis">Discordance Axis</a>. Советую!</p></div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/an-abstract-illusion-illuminate-the-path.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://anabstractillusion.bandcamp.com/">An Abstract Illusion - 2016 - Illuminate The Path</p>
<p>Оригинальная и интересная банда из Швеции. В основе это прог дэт, с blackened, и очень атмосферными симфоник элементами. Сама себя группа определяет как ambient death metal. Почему бы и нет? Очень даже подходит. <a href="https://midnightodyssey.bandcamp.com/releases">Midnight Odyssey</a> - эмбиент блэк, а эти эмбиент дэт. Кстати, вся эта симфоничность у них похожа, такая же холодная и воздушная.</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/defeated-sanity-disposal-of-the-dead.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://defeatedsanity.bandcamp.com/album/disposal-of-the-dead-dharmata"</a></p>
<p>DS решили сильно упороться и выдали двойной альбом. На первой части имеем более-менее привычный для немцев брутал дэт, с фирменной техникой, однако менее жесткий относительно предыдущих дисков, в грубо говоря Suffo-стиле. А вот с трека Dharmata начинается настоящий Шульдинеровский прог, бальзам на душу фанатам. Defeated Sanity оказались не так то просты!</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/16-lifespan-of-a-moth.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="http://16theband.bandcamp.com/">16 - 2016 - Lifespan Of A Moth</a></p>
<p>16 есть 16. Ждать чего либо нового от парней уже пожалуй не имеет смысла. Но и не разочаровывают. Тут всё как всегда.</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/tides-of-sulfur-extinction-curse.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href="https://tidesofsulfur.bandcamp.com/">Tides Of Sulfur - 2016 - Extinction Curse</a></p>
<p>Опять сладж, опять Британия, опять по сути дебютник. Sludge-Death указано. Ладно, поверим на слово, хотя от последнего тут скорее влияние только.</div>
</div>

<div class="col-lg-12">
<div class="col-lg-6"><img src="http://www.intospace.in.ua/upload/covers/omnipotent-hysteria-reforged.jpg" class="img-medium img-responsive img-thumbnail"></div>
<div class="col-lg-6"><p><a href=""></a></p>
<p>Почему бы не закончить июль на доброй брутал дэт ноте? Тем более когда она настолько хороша. И скоростной, и качающий, и техничный материал, напоминают своей мощью соотечественников <a href="https://www.facebook.com/infecteddisarray">Infected Disarray</a> (к тому же драммер и там "стучит") и немного <a href="http://www.facebook.com/valeofmiscreation">Vale Of Miscreation</a>.</p></div>
</div>
